$yellow:#ccc;

@mixin margenes($top,$bottom){
    margin-top: 50px;
    margin-bottom: 0px;
}

.jumbotron{

    background-color: $yellow;
    color: black;
    @include margenes(50px,0px);

}

.footer{
    padding: 10px 10px 0 10px;
    background-color:$yellow;
    @include margenes(0px,10px);    
}
.card-bici{
    flex: 1 200px;    
    @include margenes(10px,0px); 

}
.btn-compra{
    width: 100%;
    border-radius: 0px;
   
}
.footer-addres-icon{
    padding-right:10px ;
}
.tab-content{
    padding-top:10px ;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.3);
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid black;
}